<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Contact page</h1>
<form method = "post" action="/contact">
    <label for="name">Enter name: </label>
    <input type="text" name = "name" id = "name">
    <br>
    <label for="age">Enter your age: </label>
    <input type="text" name = "age" id = "age">
    <br>
    <label for="job">Enter your job: </label>
    <input type="text" name = "age" id = "job">
    <br>
    <button type = "submit">Submit</button>
</form>
</body>
</html>